/*Atividade 04 - DOM / XDES03
Henrique Pereira de Oliveira - 2020009348*/


body{
    margin: 0;
    background-color: lightgrey;
}

main{
    text-align: center;
    font-family: "Macondo", cursive;
}

#namemagic{
    font-style: italic;
}

h1{
    margin: 0 0 1px 0;
}

#area-marcador{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
}

#img-marcador{
    height: 45%;
}

#img-marcador img{
    width: 100%;
}

#marcador{
    height: 45%;
    border: 5px solid black;
    background-color: white;
}

#jogadores{
    height: 10%;
    display: flex;
    justify-content: space-between;
    border: 5px solid black;
}

#placar{
    font-weight: bold;
    font-size: 3.5rem;
    margin: 50px 0 15px 0;
}

label, #orientacao{
    font-size: 20px;
    font-weight: bold;
}

#orientacao{
    margin-top: 70px;
}

#pontuacao{
    border-radius: 15px;
    width: 55px;
    height: 30px;
    font-size: 25px;
    text-align: center;
    font-family: "Macondo", cursive;
    font-weight: bold;
}

#jogador1, #jogador2, #reset{
    width: 33.3%;
    height: 50px;
    font-family: "Macondo", cursive;
    font-weight: bold;
    font-size: 1.6rem;
    padding: 0;
    border: none;
    color: white;
}

#jogador1{
    background-color: green;
}

#jogador2{
    background-color: blue;
}

#reset{
    background-color: red;
}

footer{
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
}

footer a{
    text-decoration: none;
}